# Python ignores
__pycache__/
*.py[cod]
*$py.class
*.db
.venv/
venv/
ENV/
env/
.env

# Node ignores
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# IDE ignores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/
